



@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Dans votre fichier CSS principal (par exemple, globals.css) */

.custom-scrollbar-hide {
  /* Pour Chrome, Safari, et Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Masquer la barre de défilement spécifiquement pour les webkit (Chrome, Safari) */
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}


body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}




@keyframes slideInRight {
  0% {
    transform: translateX(100%); /* hors écran à droite */
    opacity: 0;
  }
  100% {
    transform: translateX(0); /* position normale */
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%); /* repart hors écran à droite */
    opacity: 0;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.25s ease-out forwards;
}

.animate-slideOutRight {
  animation: slideOutRight 0.25s ease-in forwards;
}
